*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    width: 100%;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container{
    width: 1140px;
    margin: 0 auto;
}


.nav .container{
    display: flex;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

.nav .nav_list{
    display: flex;
    margin-left: auto;
}

.nav .nav_list .nav_item .nav_link{
    font-weight: bold;
    margin: 0 10px;
   color: #000;
}

.nav_wrapper{
    border: 1px solid red;
    padding: 10px 20px;
    color: red;
    transition: .5s;
    border-radius: 5px;
}

.nav_wrapper:hover{
    background-color: red;
    color: #fff;
}


.dropdown{
    position: relative;
}


.dropdown_list{
    border-top: 5px solid aqua !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    position: absolute;
    padding: 10px 0;
    width: 170px;
    border: 1px solid black;
    background-color: #fff ;
    z-index: 2;
}

.dropdown_link{
    padding: 10px 28px;
    color: black;
    
}

.dropdown:hover .dropdown_list{
    display: block;
    
}


.main{
    position: relative;
}

.box{
    position: absolute;
    top: 20px;
    right: 169px;
    height: 200px;
    display: none;
    border-top: 5px solid red !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 170px;
    border: 1px solid black;
    background-color: #fff;
    z-index: 2;
    
}

.main:hover .box{
    display: block;
    
}

.item_box{
    padding: 5px 28px;
    color: black;
}


.position{
    position: absolute;
    margin-left: -10px;
}


.img_item img{
    width: 250px;
    height: 450px;
}


.box_group{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.box_item{
    padding-bottom: 100px;
    width: 450px;
}


.box_item h1{
    font-size: 45px;
    font-family: sans-serif;
}

.box_item p{
    margin-top: 20px;
    line-height: 30px;
}


.button{
    margin-top: 20px;
    border: 1px solid red;
    padding: 10px 20px;
    color: red;
    transition: .5s;
    border-radius: 5px;
}

.button:hover{
    background-color: red;
    color: #fff;
}




.button_img{
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: blue;
    margin-top: -400px;
    margin-left: -100px;
    border-radius: 5px;
}

.button_img i{
    color: gold;
    padding: 15px;
    font-size: 20px;
    
}


.button_title{
    position: absolute;
    width: 250px;
    height: 50px;
    background-color: #FEDC5A;
   margin-top: -150px;
    margin-left: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.button_title i{
    font-size: 25px;
    color: 
    #5454D4;
}


.section_img{
    width: 120px;
}


.section{
    margin-top: 40px;
}

.section_end{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.background{
    background-image: url(../img/Rectangle\ 2.png);
    background-repeat: no-repeat;
    height: 900px;
    background-size: 100% ;
}



.card{
    width: 255px;
height: 274px;
left: 245px;
top: 1298px;
margin-top: 20px;
background: #FFFFFF;
border-radius: 10px;
padding: 33px;
}


.card_box{
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  justify-content: space-between;
    
}

.card_item{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.img_card{
    width: 70px;
}


.card p{
    margin-top: 10px;
    line-height: 25px;
}



.text_section{
    width: 400px;
    margin-right: 20px;
}


.text_section h1{
    font-size: 40px;
    color: #fff;
}


.text_section p{
    margin-top: 10px;
    line-height: 30px;
    color: #F2F2F2;;
}

.card_button{
    margin-top: 20px;
    border: 2px solid #EAE9F2;
    color: #fff;
    padding: 10px 20px;
    transition: 1s;
}


.card_button:hover{
    background-color: #F2F2F2;
    color: #000;
}

.position_block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    height: 600px;
}



.img_block{
    width: 400px;
    height: 400px;
    position: relative;
}

.text_block{
    width: 600px;
}


.text_block h1{
    font-size: 50px;
    padding: 10px;
}


.text_block p{
    width: 490px;
    margin-top: 10px;
    line-height: 30px;
}

.button_block{
    margin-top: 20px;
    border: 1px solid red;
    padding: 10px 25px;
    color: red;
    transition: 1s;
    border-radius: 5px;
}

.button_block:hover{
    background-color: red;
    color: #fff;
}


.img_block{
    position: relative;
}


.absolute_block{
    position: absolute;
    width: 250px;
    height: 80px;
    background-color: #FEDC5A;
   margin-top: -260px;
    margin-left: -80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   padding: 10px;
   
}


.solid{
    color: #0000ff !important;
    font-size: 25px;
}

.absolute_text{
    color: #19191B;
    font-size: 15px;
}

.absolute_title{
    font-size: 18px;
}


.bacground_block{
    position: absolute;
    margin-top: -120px;
    margin-left: 350px;
    width: 300px;
}

.text_group{
    margin-top: 50px;

}

.img_section{
    width: 400px;
    position: relative;
    
}


.img_tag{
    position: absolute;
    width: 300px;
    margin-top: 60px;
    margin-left: -380px;
}


.content{
    background-image: url(/img/Rectangle\ 3.png);
    background-size: 100%;
    height: 600px;
    margin-top: 50px;
}


.button_content{
    position: absolute;
    position: absolute;
    width: 250px;
    height: 80px;
    background-color: #ff0000;
   margin-top: -350px;
    margin-left: -80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   padding: 10px;
   color: #ffff;
}


.text_group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
}


.text_selected{
    width: 400px;
}


.text_selected h1{
    font-size: 40px;
}

.text_selected p{
    margin-top: 10px;
    line-height: 30px;
}


.button_team{
    width: 280px;
    height: 90px;
   background-color: #fff;
    margin-left: -80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 6px;
    padding: 6px;
}


.img_main{
    width: 40px;
    
}


.button_class{

    width: 280px;
    height: 90px;
   background-color: #fff;
    margin-left: -80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 6px;
    padding: 6px;
    
}


.section_group{
    margin-top: 100px;
    height: 500px;
}

.text_index{
    margin-left: 30%;
    font-size: 45px;
    width: 500px;
    text-align: center;
}


.img_oval{
    width: 40px;
    height: 40px;
}

.card_main{
    width: 300px;
    height: 250px;
    border: 1px solid 
    #EAE9F2;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 90px;
}

.text_end{
    margin-top: -50px;
    margin-left: 12px;
    font-size: 15px;
}

.brands{
    color: 
    #5454D4;
}


.card_group{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.box_select{
    text-align: center;
    color: #0000ff;
}


.footer_nav{
    margin-top: 50px;
    background-repeat: no-repeat;
    height: 1100px;
    background-image: url(/img/Rectangle\ 4.png);
    background-size: 100%;
}


.footer{
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    margin-left: 28%;
    display: inline-block;
    margin-top: 50px;
}

.footer h1{
    font-size: 40px;
}

.footer p{
    color: rgb(222, 208, 208);
    margin-top: 10px;
    line-height: 30px;
}

input{
    display: block;
    margin-top: 40px;
    margin-left: 10px;
    width: 500px;
    height: 60px;
    border-radius: 10px;
    padding: 30px;
}


.input_button{
    margin-top: 30px;
    border: 1px solid red;
    padding: 10px 200px;
    color: red;
    transition: 1s;
    border-radius: 5px;
    margin-left: 10px;
}


.input_button:hover{
    background-color: red;
    color: #fff;
}




.footer_selected{
    height: 500px;
    margin-top: 50px;
    display: flex;
    padding: 50px;
}


.footer_navbar{
    width: 300px;
    
}


.footer_item{
    padding: 13px;
}

.footer_box{
    color: #fff;
}


.footer_box i{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: 
    #696871;
    color: white;
    text-align: center;
    padding-top: 5px;
    margin-left: 5px;
}


.item_text{
    color: red;
}